@use "../../../assets/styles/colors.scss";

.unit {
  padding: 8px 0;

  &:hover {
    cursor: pointer;
  }

  &__title {
    font-weight: bold;
  }
}

.openTasksLabel {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
  color: colors.$secondary;
}
