.editableAvatarWrapper {
    display: inline-block;
    position: relative;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

    &:hover .imageIcon {
        display: block;
    }

    &:hover .layer {
        transition-property: background-color;
        transition-duration: 0.3s;
        background-color: rgba(248, 248, 248, 0.8);
    }
}

.baseAvatar {
    border-radius: 100%;
}

.layer {
    transition-property: background;
    transition-duration: 0.3s;
    background: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: content-box;
}

.imageIcon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin: auto;
    display: none;
}
