.myBtn {
    color: #030039;
    border: 2px solid #070036;
    margin-right: 10px;
}

.myBtn:hover {
    background: #030039;
    color: white;
}

.myBtn:focus {
    background: #070036;
    color: white;
    border: 2px solid #fff;
}
