@use "../../assets/styles/_colors";

.statusBadge {
    border-radius: 5px;
    background: #6b6b6b;
    padding: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #ffffff;

    &__ok {
        background: colors.$success;
    }

    &__error {
        background: colors.$error;
    }

    &__warning {
        background: colors.$warning;
    }

    &__inactive {
        background: colors.$default;
    }
}
