@use "../../../assets/styles/_colors.scss";

.teamMembersModal {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 50%;
    top: 50px;
    padding: 30px;
    border-radius: 10px;
    background: colors.$light;
    border: 1px solid colors.$brand;
}

.membersTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: colors.$dark;
}

.closeIconWrapper {
    position: absolute;
    top: 8px;
    right: 10px;
}


.inviteNewBtn {
    padding: 0 10px;
    display: flex;
    align-items: center;

    &:hover {
        border-radius: 10px;
        cursor: pointer;
        background: #edf4ff;
    }
}

.plusCircle {
    border-radius: 50%;
    padding: 5px;
    font-size: 2rem;
}
