.userPreview {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 4px 0;

    &_clickable:hover {
        cursor: pointer;
    }

    &__name {
        margin: 0;
        font-size: 0.9rem;
    }

    &__post {
        margin: 0;
        font-size: 0.8rem;
        color: hsl(0, 0%, 40%);
    }
}
