@use "../../../assets/styles/colors.scss";

.taskName {
  font-size: 1.2rem;
  font-weight: bold;
  color: colors.$brand;
}

.taskDeadlineLable {
  font-size: 0.9rem;
  font-weight: bold;
  color: colors.$secondary;
}
