.creationTaskForm {
    min-width: 480px;
    border-radius: 1px;
    background: #f3f3f3;
}

.editionTaskForm {
    min-width: 480px;
    border-radius: 1px;
    background: #f3f3f3;
}

.deleteTaskBtn, .deleteTaskBtn:hover {
    color: white;
    text-decoration: none;
}