.fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky > * {
    /* Full-calendar overlaps header */
    top: 40px;
}

/* Fix overlay (top-menu)*/
.fc.fc-theme-standard .fc-view-harness th {
    z-index: 0;
}

.calendarEvent {
    font-size: 1rem;
    font-weight: bold;
}
.filterTeamItem:hover {
    cursor: pointer;
}

.filterTeamItem > input {
    width: 2rem;
    height: 2rem;
}
.filterTeamItem > input:hover {
    cursor: pointer;
}
