@use "../../../assets/styles/_colors.scss";

.text {
    display: flex;
    font-weight: bold;
    color: colors.$dark;

    &:hover {
        cursor: text;
    }
}

.textInput {
    border: none;
    border-bottom: 1px solid colors.$dark;
    font-weight: bold;
}

.editIcon {
    fill: colors.$brand;
    margin: 0 10px;

    &:hover {
        cursor: pointer;
    }
}
