.main-header {
    border-bottom: 3px solid #6b6b6b;
    background: #f6f8ff;
    box-sizing: border-box;
    min-height: 60px;
    z-index: 2;
}

.headerLinkIcon:hover {
    background: #e9f3ff !important;
    outline: none !important;
}

a:focus {
    outline: none !important;
    text-decoration: none !important;
}
