.notification-tray-icon {
    position: relative;
    cursor: pointer;
}

.notification-count {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
}

.notification-tray {
    position: absolute;
    display: inline-block;
    top: 50px;
    width: 350px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 7px;
}

.mark-all-as-read-text {
    width: auto;
    cursor: pointer;
}

.notification-tray h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.notification-tray p {
    margin-top: 0;
    margin-bottom: 10px;
}

.read-notification-item {
    margin: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.unread-notification-item {
    margin: 10px;
    background-color: rgba(209, 231, 200, 0.281);
    border-bottom: 1px solid #5fff5f;
}