.dayValueItemColumn {
    display: flex;
    align-items: flex-end;
    min-height: 100px;
    height: 100px;
    background: #ecf1ff;
    border-radius: 8px;
    min-width: 20px;
}

.dayValueItem {
    background: #00e4db;
    width: 100%;
    border-radius: 8px;
}

.dayValueItem:hover {
    background: #19c4ba;
}

.daysWrapper {
    scrollbar-color: #00e4db #ecf1ff;
    /*-ms-overflow-style: none;  !* Hidden scroll IE and Edge *!*/
    /*scrollbar-width: none;  !* Hidden scroll Firefox *!*/
}

.daysWrapper::-webkit-scrollbar {
    /*display: none;  !* Hidden scroll webkit *!*/
}

.dayLabel {
    transform: rotate(-160deg);
    writing-mode: vertical-lr;
    color: #6b6b6b;
    min-height: 60px;
}

.dayValueText {
    color: #00afab;
}

.dayValueItemWrapper:hover .dayValueText {
    color: #0f6b68;
}
