.filter {
    margin: 0;
    border-radius: 0 !important;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;

    & > div {
        padding: 5px 0 5px 0;
    }
}

