body, html {
    height: 100%;
    width: 100%;
    background: #f3f6ff;
}

.main {
    padding: 0;
    margin: 0;
    min-width: 480px;
}

.welcomeText {
    color: #070036;
    text-align: center;
    font-size: 4.5vw;
    font-weight: 600;
    margin-top: 20%;
}
