$brand: #3A91C1;
$secondary: hsl(0, 0%, 40%);
$brand_hover: #2a5986;
$contrast: hsla(0, 0%, 100%, 1);
$light_brand: #f2f8ff;

$primary: hsla(253, 13%, 40%, 1);

$default: hsl(0, 0%, 62%);
$glass: hsla(252, 45%, 98%, 1);

$light: hsla(255, 100%, 100%, 1);
$dark: hsla(63, 100%, 3.5%, 1);

$error: hsla(0, 79%, 63%, 1);
$success: hsla(147, 67%, 47%, 1);
$warning: hsl(32, 79%, 42%);
