@use "../../../assets/styles/_colors";

.eventPreview {
    position: relative;
    padding: 10px 10px 10px 20px;
    background: #e8e8e8;
    margin: 10px 0;

    &:hover {
        cursor: pointer;
    }

    .eventName {
        color: colors.$brand;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .eventEndDate {
        font-weight: bold;
        font-family: monospace;
    }

    .colorBadge {
        position: absolute;
        background: black;
        height: 100%;
        width: 10px;
        min-height: 1px;
        top: 0;
        bottom: 0;
        left: 0;
    }
}
